/*@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
*/
@font-face {
  font-family: 'Gloria Hallelujah';
  font-style: normal;
  font-weight: 400;
  src: local('Gloria Hallelujah'), local('GloriaHallelujah'), url(https://fonts.gstatic.com/s/gloriahallelujah/v9/CA1k7SlXcY5kvI81M_R28cNDay8z-hHR7F16xrcXsJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
body {
	font-size: 16px;
	font-family: serif;
	/*animation: fadein 2s;*/
	background: black;
	color: #fff;
}
.banner {
	width: 100%;
	border-radius: 0.5em;
	position: relative;
	z-index: 0;
}
#banner {
	width: 100%;
	border-radius: 0.5em;
	position: relative;
	z-index: 0;
}
.text {
		padding: 1em;
}
.heading {
	position: absolute;
	z-index: 1;
	font-family: 'Gloria Hallelujah', cursive;
	color: black;
	border-radius: 100%;
	background: yellow;
	text-align: center;
	padding: 1em;
}
.live-performances {
	position: absolute;
	z-index: 1;
	font-family: 'Gloria Hallelujah', cursive;
	color: black;
	border-radius: 100%;
	background: yellow;
	text-decoration: none;
	padding: 1em;
}
#Bio {
	position: absolute;
	z-index: 1;
	font-family: 'Gloria Hallelujah', cursive;
	color: black;
	font-size: 5em;
	text-align: left;
	/*opacity: 0.6;*/
	border-radius: 100%;
	
	
}
.contact-me {
	position: absolute;
	z-index: 1;
	font-family: 'Gloria Hallelujah', cursive;
	color: black;
	font-size: 5em;
	text-align: right;
	/*opacity: 0.6;*/
	border-radius: 100%;

}
#bio-description{
	display:none;
	position: absolute;
	background: orange; /*rgba(255, 255, 255, 0.3);*/
	font-family: 'Gloria Hallelujah', cursive;
	color: black;
	z-index: 2;
	border-radius: 1em;
	padding: 0.5em;
}
.Links {
	margin: 0.5em;
}

.scale {
		display: grid;
		grid-gap: 1em;

}
.chromatic-scale {
		display: grid;
		grid-gap: 5em;
		grid-template-columns: repeat(1, 1fr);
		position: relative;

}
.note {
		border-radius: 0.5em;

}
.a {
	/*background: blue;
	/*background-image: url(../images/rainbow.jpg);*/
	min-height: 10em;
	overflow: hidden;

}
.b {
	background: green;
	font-size: 2em;
}
.c {

	color: white;
	height: 100%;
}
.d {
	text-align: left;
	cursor: pointer;
}
.e {
	background: red;
	padding-top: 10%;
}
.f {
	background: purple;
}
.g {
}
.bgvideo {
    width: 100%;
    height: 100%;
	position: relative;
	
}
.crescendo{
	font-family: 'Gloria Hallelujah', cursive;
}
a:hover {
	opacity: 0.8;
}
.soundcloud {
	overflow: hidden;
	border: 0;
	width: 100%;
}
.live-performances:hover {
	background: orange;
}
@media screen and (min-width:851px){
	.scale {
		grid-template-columns: repeat(3, 1fr); 
	}
	
	.a {
		grid-area: 1 / 1 / 1 / 4;
	}
	.b {
	grid-area: 2 / 1 / 2 / 3;
	}
	.c {
	grid-area: 3 / 2 / 5 / 3;
	}
	.d {
		grid-area: 2 / 3 / 4 / 4;
	}
	.e {
		grid-area: 3 / 1 / 5 / 2;
	}
	.f {
		grid-area: 6 / 1 / 6 / 4;
	}
	.g {
	}
}
@media screen and (max-width:850px){
	.scale{grid-template-columns: repeat(1, 1fr);}
}	
