@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@font-face {
  font-family: 'Gloria Hallelujah';
  font-style: normal;
  font-weight: 400;
  src: local('Gloria Hallelujah'), local('GloriaHallelujah'), url(https://fonts.gstatic.com/s/gloriahallelujah/v9/CA1k7SlXcY5kvI81M_R28cNDay8z-hHR7F16xrcXsJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
html {
	font-size: 16px;
	font-family: serif;
	animation: fadein 2s;
	background: black;
	color: #fff;
}
.banner {
	width: 100%;
	border-radius: 0.5rem;
	position: relative;
	z-index: 0;
}
#banner {
	width: 100%;
	border-radius: 0.5rem;
	position: relative;
	z-index: 0;
}
.text {
		padding: 1rem;
}
.heading {
	position: absolute;
	z-index: 1;
	font-family: 'Gloria Hallelujah', cursive;
	color: black;
	border-radius: 100%;
	background: yellow;
}
.live-performances {
	position: absolute;
	z-index: 1;
	font-family: 'Gloria Hallelujah', cursive;
	color: black;
	border-radius: 100%;
	background: yellow;
}
#Bio {
	position: absolute;
	font-family: 'Gloria Hallelujah', cursive;
	color: black;
	font-size: 10rem;
	text-align: center;
	opacity: 0.8;
	border-radius: 100%;
	z-index: 1;
	
}

#bio-description {
	display:none;
	position: absolute;
	background: orange; /*rgba(255, 255, 255, 0.3);*/
	font-family: 'Gloria Hallelujah', cursive;
	color: black;
	z-index: 2;
	border-radius: 1rem;
	padding: 0.5rem;
}
#hide {
	display: none;
}
.scale {
		display: grid;
		grid-gap: 1rem;

}
.note {
		border-radius: 0.5rem;

}
.a {

}
.b {
	background: green;
}
.c {

	color: white;
	height: 100%;
}
.d {
	text-align: left;
	cursor: pointer;
}
.e {
	background: red;
	padding-top: 10%;
}
.f {
	background: purple;
}
.g {
}
.bgvideo {
    width: 100%;
    height: 100%;
	position: relative;
	
}
.crescendo{
	font-family: 'Gloria Hallelujah', cursive;
}
a:hover {
	opacity: 0.8;
}
.c:hover .live-performances {
	background: orange;
}
@media screen and (min-width:851px){
	.scale {
		grid-template-columns: repeat(3, 1fr); 
	}
	
	.a {
		grid-area: 1 / 1 / 1 / 4;
	}
	.b {
	grid-area: 2 / 1 / 2 / 3;
	}
	.c {
	grid-area: 3 / 2 / 5 / 3;
	}
	.d {
		grid-area: 2 / 3 / 4 / 4;
	}
	.e {
		grid-area: 3 / 1 / 5 / 2;
	}
	.f {
		grid-area: 6 / 1 / 6 / 4;
	}
	.g {
	}
}
@media screen and (max-width:850px){
	.scale{grid-template-columns: repeat(1, 1fr);}
}	
